
*{
  margin: 0;
  padding: 0;
}

body {
  
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  color: #333;
  padding: 40px;
}
body.hello{
  background-image:url("Thank you.jpeg");
  background-size:cover;
  background-position:center;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
  color: #333;
  padding: 40px;
}


h1, h2 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h1 span {
  font-weight: 300;
  color: #999;
}

h2 {
  font-size: 1.8rem;
}

p.tagline {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
}


.doc {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 60px;
}

.left, .right {
  flex: 1;
}

.left {
  padding-right: 20px;
}

.right {
  padding: 40px;
  background: #fafafa;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}


.doctor-photo {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}


.patient-list {
  list-style: none;
  margin-top: 10px;
}

.patient-list li {
  margin-bottom: 15px;
}

.patient-list a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #2c3e50;
  padding-bottom: 2px;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.patient-list a:hover {
  color: #1abc9c;
  border-bottom-color: #1abc9c;
}


.detail-doc, .thank-you-container {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
}

.details, .thank-you-box {
  background: #fafafa;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
  margin-top: 20px;
  text-align: left;
}

.back-link {
  display: inline-block;
  margin-top: 20px;
  color: #3498db;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}


.thank-you-container h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 10px;
}